<footer class="footer">
    {{- with site.Menus.footer }}
        <nav class="footer-menu" aria-label="Footer">
            <ul>
                {{- range . }}
                    <li>
                        <a href="{{ .URL | relURL }}">{{ .Name }}</a>
                    </li>
                {{- end }}
            </ul>
        </nav>
    {{- end }}

    <div class="divider"></div>

    <div>
        {{- if not site.Params.footer.hideCopyright }}
            {{- if site.Copyright }}
                <span>{{ site.Copyright | markdownify }}</span>
            {{- else }}
                <span>&copy; {{ now.Year }} <a href="{{ "" | absLangURL }}">{{ site.Title }}</a></span>
            {{- end }}
        {{- end }}

        {{- with site.Params.footer.text }}
            {{ . | markdownify }}
            {{- print " · "}}
        {{- end }}
    </div>
</footer>
